In [2]:
# create a tuple 
t=()
print(t,type(t))

(10,) <class 'tuple'>

In [ ]:
# tuple with different data types
t=(10,[],'hello')
print(t,type(t))

In [6]:
n=tuple(map(int,input().split()))
print(n,type(n))

(1, 2, 3, 4) <class 'tuple'>

In [ ]:
# packing and unpacking 
a, b, *c = 10, 30

In [7]:
# write a Python program to add an item in a tuple
t = (3, 5, 67)
print(t, id(t))

element = int(input('Enter the element '))
t += element, 

print(t, id(t))

(3, 5, 67) 3016151772608
(3, 5, 67, 100) 3016151555968

In [10]:
a = 10 
a = a + 1
print(a, id(a))

b = 10
print(b, id(b))

11 140718504200952
10 140718504200920

In [25]:
# write a Python program to convert a tuple to a string.
t = (2, 4, 16, 9)
st = ' '.join(map(str, t))
st
# '2469'

'2 4 16 9'

In [29]:
st = 'helllllllllo'
out = st.rfind('l')
print(out)

10

In [11]:
# tuple initialization
t = ('hello',)
print(t, type(t))

('hello',) <class 'tuple'>

In [13]:
t = (3, 5, 'hello', 3+4j, [], (), {})
print(t, type(t))

(3, 5, 'hello', (3+4j), [], (), {}) <class 'tuple'>

In [35]:
*a, b = 10,
print(f'{a=}')
print(f'{b=}')

a=[]
b=10

In [38]:
# add the item in a tuple
t = (3, 45, 6)
print(t, id(t))
item = eval(input('enter the item '))
t += item,
print(t, id(t))

(3, 45, 6) 2359853389632
(3, 45, 6, 100) 2359853668592

In [40]:
st = [(), (4, 6, 3), ([],), (34, ), ()]
print(st, id(st))
        
print(st, id(st))

[(4, 6, 3), ([],), (34,)]

In [48]:
st = ['rahul', 'rachit', 'om']
for i in st:
    st.remove(i)
print(st)

['rachit']

In [3]:
d = {1:3, 2: 5}
d[1] = 10
d[0] = 20
d.popitem()
print(d)

{1: 10, 2: 5}